---
title: TIL (Today I learned) # will be overwritten by SEO.title below
description:
permalink: /til/index.html
date:  
layout: base
body_class:
robots: noindex
templateEngineOverride: njk,md
seo:
  title: # overrides 'title' above on both Page and META
  description:
  image:
  tags:
    - til
---


## learning in public


## Inspired by
- [https://dev.to/jbranchaud/how-i-built-a-learning-machine-45k9](https://dev.to/jbranchaud/how-i-built-a-learning-machine-45k9)
- [https://til.simonwillison.net](https://til.simonwillison.net)
- [https://simonwillison.net/2020/Apr/20/self-rewriting-readme/](https://simonwillison.net/2020/Apr/20/self-rewriting-readme/)
- [https://www.marclittlemore.com/learn-in-public/](https://www.marclittlemore.com/learn-in-public/)
