---
# https://w3c.github.io/manifest/
permalink: '/manifest.webmanifest'
layout: null
eleventyExcludeFromCollections: true
---
{
  "name": "ecrosstexas.com",
  "short_name": "ecrosstexas.com",
  "display": "standalone",
  "start_url": "/"
}
